

/* .checkbox {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 20px;
  height: 20px;
  margin-right: 20px;
  padding: 10px;

} */
.labelDisabled{
  color: var(--color-dark-100);
}

.root{
  s.wrapper{

  }
}

.indicator {
  width: 18px;
  height: 18px;
}

.checked {
  color: black;
}

.name {
  margin-right: 30px;
  padding: 5px;
}

.default {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 20px;
  height: 20px;
  margin-right: 20px;
  padding: 10px;
}
