.cardDark {
  opacity: 0.5;
}

.fixedCard {
  width: 420px;
  height: 552px;

  h4 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.resize {
  resize: both;

  position: relative;

  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 800px;
  height: 600px;

  background-color: rgb(208, 208, 208);

  .responsiveCard {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 350px;
    height: 100%;
    max-height: 500px;
    padding: 10px;

    h4 {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      word-wrap: break-word;
    }

    p {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      word-wrap: break-word;
    }
  }
}
