.table {
  border-collapse: collapse;
  border-color: #333;
  border-style: solid;
}

.th {
  height: 36px;
  padding: 6px 24px;
  text-align: left;
  background: #333;
}

.td {
  padding: 6px 24px;
  text-align: left;
  border-bottom: 1px solid #333;
}
