.textField {
  flex-shrink: 0;

  width: 284px;
  height: 36px;
  padding: 6px 12px;

  color: var(--color-dark-100);

  background-color: transparent;
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;
  outline: none;

  transition: 0.2s ease-out;

  &::placeholder {
    color: var(--color-dark-100);
  }

  &.withShowPassword {
    padding-right: 40px;
  }

  &.withSearchType {
    padding: 0 40px;
  }

  &.withClear {
    padding-right: 30px;
  }

  &:disabled {
    color: var(--color-dark-300);
    border: 1px solid var(--color-dark-300);
  }

  &:disabled::placeholder {
    color: var(--color-dark-300);
  }

  &:active:not(:disabled) {
    color: var(--color-light-100);
    border: 1px solid var(--color-light-100);
  }

  &:focus-within:not(:active) {
    border: 1px solid var(--color-info-700);
    outline: 1px solid var(--color-info-700);
  }

  &:hover:not(&:disabled, .errorText, :focus) {
    background-color: var(--color-dark-700);
    border: 1px solid var(--color-dark-100);
    transition: 0.2s ease-out;
  }
}

.textFieldWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 284px;

  /** label  */
  .labelText {
    margin-left: 2px;
    color: var(--color-dark-100);
  }

  /** textField */
  .textField.fullwidth {
    width: 100%;
  }

  .errorText {
    color: var(--color-danger-300);
    border: 1px solid var(--color-danger-300);

    &.errorText::placeholder {
      color: var(--color-danger-300);
    }
  }

  .errorText:focus-visible {
    color: var(--color-danger-300);
    border: 1px solid var(--color-danger-300);
    outline: 1px solid var(--color-danger-300);
  }

  .error {
    position: absolute;
    bottom: -34%;

    display: flex;

    width: 100%;

    font-family: Roboto, serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    color: var(--color-danger-300);
  }
}

.textFieldWrapper.fullwidth {
  width: 100%;
}

.textFieldWrapper:not(:focus-within) .btnClear {
  display: none;
}

.showPassword {
  cursor: pointer;

  position: absolute;
  z-index: 1;
  top: 50%;
  right: 3%;
  transform: translateY(-50%);

  display: grid;
  place-items: center;

  font-size: 15px;

  &.withLabel {
    top: 70%;
  }

  &.showPassWithFullwidth {
    right: 0.5%;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

.btnClear {
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 3%;
  transform: translateY(-50%);

  display: grid;
  place-items: center;

  font-size: 15px;

  &.withLabel {
    top: 70%;
  }
}

.btnSearch {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 3%;
  transform: translateY(-50%);

  display: grid;
  place-items: center;

  font-size: 15px;

  &.withLabel {
    top: 70%;
  }
}

/** clear default cansel btn  at TextField */
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  display: none;
}
