.labelName {
  color: var(--color-danger-300);
}

.divOne {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 700px;
  max-width: 100%;
  height: 100vh;
}

.divTwo {
  display: flex;
  align-items: center;
  justify-content: left;

  width: 100%;
  max-width: 100%;
  height: 400px;

  background-color: #14cc70;
}
